{% block doc -%}
	<!DOCTYPE html>
	<html{% block html_attribs %} lang="en" {% endblock html_attribs %}>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	{%- block html %}
		<head>
			{%- block head %}
				<title>{% block title %}{{ title|default }}{% endblock title %}</title>

				{%- block metas %}
					<meta name="viewport" content="width=device-width, initial-scale=1.0">
				{%- endblock metas %}

				{%- block styles %}
					<!-- Bootstrap -->
					<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
					<link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
					<link href="{{ url_for('static', filename='css/datatables.min.css') }}" rel="stylesheet">
					<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
				{%- endblock styles %}
			{%- endblock head %}
		</head>
		<body{% block body_attribs %}{% endblock body_attribs %}>
		{% block body -%}
            <button onclick="topFunction()" id="myBtn" title="Go to top">
            <span class="scroll-top"><svg width="36px" height="36px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><defs><style>.top-icon{fill:none;stroke-linecap:round;stroke-linejoin:bevel;stroke-width:1.5px;}</style></defs><g id="ic-chevron-top"><path class="top-icon" d="M16.78,14.2l-4.11-4.11a1,1,0,0,0-1.41,0l-4,4"></path></g></svg></span>
            </button>
			{% block navbar %}
            <div class="shadow-sm mb-5 bg-white rounded">
                <div class="container">
                    {% include 'navbar.html' %}
                </div>
            </div>
			{%- endblock navbar %}
			{% block content -%}
				<div class="container">
					{% block page_content %}
                    {% endblock %}
				</div>
			{%- endblock content %}

			{% block scripts %}
                <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
				<script type="text/javascript" 
						src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/litepicker.js') }}"></script>
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/main.js') }}"></script>
			{%- endblock scripts %}
		{%- endblock body %}
		</body>
	{%- endblock html %}
	</html>
{% endblock doc -%}
