<style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
</style>
{% for menu, items in menus.items() %}
<li class="nav-item dropdown">
	<a class="nav-link"
	   data-bs-toggle="dropdown"
	   aria-expanded="false" href="#"
	   id="{{ menu }}Dropdown"
	   data-bs-offset="10,30"
	>{{ menu }}</a>
	<ul class="dropdown-menu" aria-labelledby="{{ menu }}Dropdown">
        {% for item in items%}
		<li>
			<a class="dropdown-item" href="{{ item['href'] }}">{{ item['text'] }}</a>
		</li>
        {% endfor %}
	</ul>
</li>
{% endfor %}