{% extends "base.html" %}
{% block title %}QUADS Available Hosts{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        html {
            font-family: sans-serif;
        }

        h2 {
            padding-left: 13px;
            margin-bottom: 1em;
        }

        .link-secondary-hover {
            color: gray;
            text-decoration: none;
        }

        .link-secondary-hover:hover {
            color: #0a58ca;
        }

        .nav-item {
            font-size: 14px;
            font-weight: bold;
            color: #5a5757;
        }

    </style>
{% endblock %}

{% block navbar %}
    <div class="shadow-sm mb-5 bg-white rounded">
        <div class="container">
            {% with assignments="active" %}
                {% include 'navbar.html' %}
            {% endwith %}
        </div>
    </div>

{% endblock %}

{% block page_content %}

    {% include 'wiki/assignments.html' %}

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
