<nav class="d-block navbar border-1 navbar-expand-lg bg-body-light">
         <p class="navbar-brand fs-5 mt-2">RDU2 Scale Lab <small style="font-size: 14px">Dynamic Inventory</small></p>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNavToggle"
                aria-controls="navbarNavToggle"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavToggle">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page"
                   href="/dashboard">Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Assignments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vlans">VLANs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page"
                   href="/available">Available</a>
            </li>
            {% include 'dropdown.html' with menus=g.dynamic_navigation["menus"] %}
            {% include 'links.html' with links=g.dynamic_navigation["links"] %}
        </ul>
    </div>
</nav>