<nav class="d-block navbar border-1 navbar-expand-lg bg-body-light">
    <p class="navbar-brand fs-5 mt-2">RDU2 Scale Lab <small style="font-size: 14px">Dynamic Inventory</small></p>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNavToggle"
            aria-controls="navbarNavToggle"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavToggle">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/dashboard">Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/assignments">Assignments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vlans">VLANs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/available">Available</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link"
                   data-bs-toggle="dropdown"
                   aria-expanded="false" href="#"
                   id="visualizationsDropdown"
                   data-bs-offset="10,30"
                >Visualizations</a>
                <ul class="dropdown-menu" aria-labelledby="visualizationsDropdown">
                    <li>
                        <a class="dropdown-item" href="{{ url_for("visuals", when="current") }}">Current Month Visualization Map</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for("visuals", when="next") }}">Next Month Visualization Map</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for("visuals", when="current") }}">All Month Visualization Map</a>
                    </li>
                </ul>
            </li>
            {% with menus=g.dynamic_navigation["menus"] %}
                {% include 'dropdown.html' %}
            {% endwith %}
            {% with links=g.dynamic_navigation["links"] %}
                {% include 'links.html' %}
            {% endwith %}
        </ul>
    </div>
</nav>
