[project]
	description = QUADS (quick and dirty scheduler)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Will Foster (sadsfae)
[access "refs/for/refs/*"]
	read = group user/Will Foster (sadsfae)
	push = group user/Will Foster (sadsfae)
	label-Code-Review = -2..+2 group user/Will Foster (sadsfae)
	label-Verified = -1..+1 group user/Will Foster (sadsfae)
	rebase = group user/Will Foster (sadsfae)
	removeReviewer = group user/Will Foster (sadsfae)
	submit = group user/Will Foster (sadsfae)
[access "refs/heads/*"]
	read = group user/Will Foster (sadsfae)
	create = group user/Will Foster (sadsfae)
	push = +force group user/Will Foster (sadsfae)
	pushMerge = group user/Will Foster (sadsfae)
[access "refs/tags/*"]
	push = +force group user/Will Foster (sadsfae)
	pushTag = group user/Will Foster (sadsfae)
	pushSignedTag = group user/Will Foster (sadsfae)
