[project]
	description = Code review for the QUADS project https://quads.dev
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gonzalo Rafuls (grafuls)
	owner = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	owner = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	owner = group user/Will Foster (sadsfae)
[access "refs/for/refs/*"]
	read = group user/Gonzalo Rafuls (grafuls)
	read = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	read = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	read = group user/QUADS CI (quads-ci)
	read = group user/Will Foster (sadsfae)
	push = group user/Gonzalo Rafuls (grafuls)
	push = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	push = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	push = group user/Will Foster (sadsfae)
	label-Code-Review = -2..+2 group user/Gonzalo Rafuls (grafuls)
	label-Code-Review = -2..+2 group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	label-Code-Review = -2..+2 group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	label-Code-Review = -2..+2 group user/Will Foster (sadsfae)
	label-Code-Review = -1..+1 group user/QUADS CI (quads-ci)
	label-Verified = -1..+1 group user/Gonzalo Rafuls (grafuls)
	label-Verified = -1..+1 group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	label-Verified = -1..+1 group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	label-Verified = -1..+1 group user/QUADS CI (quads-ci)
	label-Verified = -1..+1 group user/Will Foster (sadsfae)
	rebase = group user/Gonzalo Rafuls (grafuls)
	rebase = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	rebase = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	rebase = group user/Will Foster (sadsfae)
	removeReviewer = group user/Gonzalo Rafuls (grafuls)
	removeReviewer = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	removeReviewer = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	removeReviewer = group user/Will Foster (sadsfae)
	submit = group user/Gonzalo Rafuls (grafuls)
	submit = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	submit = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	submit = group user/Will Foster (sadsfae)
[access "refs/heads/*"]
	read = group user/Gonzalo Rafuls (grafuls)
	read = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	read = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	read = group user/QUADS CI (quads-ci)
	read = group user/Will Foster (sadsfae)
	create = group user/Gonzalo Rafuls (grafuls)
	create = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	create = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	create = group user/Will Foster (sadsfae)
	push = group user/Gonzalo Rafuls (grafuls)
	push = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	push = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	push = +force group user/Will Foster (sadsfae)
	pushMerge = group user/Gonzalo Rafuls (grafuls)
	pushMerge = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	pushMerge = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	pushMerge = group user/Will Foster (sadsfae)
[access "refs/tags/*"]
	push = group user/Gonzalo Rafuls (grafuls)
	push = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	push = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	push = +force group user/Will Foster (sadsfae)
	createTag = group user/Gonzalo Rafuls (grafuls)
	createTag = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	createTag = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	createTag = group user/Will Foster (sadsfae)
	createSignedTag = group user/Gonzalo Rafuls (grafuls)
	createSignedTag = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	createSignedTag = group user/Kambiz Aghaiepour (kambiz-aghaiepour)
	createSignedTag = group user/Will Foster (sadsfae)
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
