alembic>=1.10.3
decorator>=5.1.1
Flask==2.2.5
Flask-Cors>=3.0.10
Flask-HTTPAuth==3.2.3
Flask-Login>=0.6.2
Flask-Mail>=0.9.1
Flask-Migrate>=4.0.4
Flask-Principal>=0.4.0
Flask-Script>=2.0.6
Flask-Security-Too>=4.1.5
Jinja2>=3.1.2
passlib>=1.7.4
pexpect>=4.8.0
psycopg2-binary>=2.9.6
pytz>=2023.3
PyYAML>=6.0
six>=1.16.0
SQLAlchemy>=2.0.9
SQLAlchemy-Utils>=0.41.0
Werkzeug==3.0.3
WTForms>=3.0.1
email-validator>=1.3.1
PyJWT>=2.6.0
paramiko>=3.0.0
argcomplete>=3.1.2
requests>=2.31.0
validators>=0.20.0
