# copy to: /etc/systemd/system/quads-web.service
# and run: systemctl reload-daemon
# enable: systemctl enable quads-web
# start: systemctl start quads-web

[Unit]
Description = QUADS Web Service
Documentation = https://github.com/redhat-performance/quads
After=network.target quads-server.service

[Service]
Type = simple
ExecStart = /usr/bin/gunicorn quads.web.app:flask_app -b :5001 -w 4 -k gthread --max-requests=5000 --max-requests-jitter=500 --log-level=INFO
ExecStop = /usr/bin/pkill gunicorn
Restart = always
StartLimitInterval = 60
StartLimitBurst = 10
Environment="SQLALCHEMY_DATABASE_URI=postgresql://postgres:postgres@localhost:5432/quads"


[Install]
WantedBy = multi-user.target
