# copy to: /etc/systemd/system/quads-server.service
# and run: systemctl reload-daemon
# enable: systemctl enable quads-server
# start: systemctl start quads-server

[Unit]
Description = QUADS Daemon
Documentation = https://github.com/redhat-performance/quads
Before=quads-db.service
After=network.target postgresql.service

[Service]
Type = simple
ExecStart = /usr/bin/gunicorn quads.server.app:create_app() -b :5000 -w 4 -k gthread --max-requests=5000 --max-requests-jitter=500 --log-level=INFO
ExecStop = /usr/bin/pkill gunicorn
Restart = always
StartLimitInterval = 60
StartLimitBurst = 10
Environment="PYTHONPATH=$PYTHONPATH:/opt/quads/"
Environment="SQLALCHEMY_DATABASE_URI=postgresql://postgres:postgres@localhost:5432/quads"

[Install]
WantedBy = multi-user.target
