# copy to: /etc/systemd/system/quads-web.service
# and run: systemctl reload-daemon
# enable: systemctl enable quads-web
# start: systemctl start quads-web

[Unit]
Description=QUADS Web Service
Documentation=https://github.com/redhat-performance/quads
After=network.target mongod.service nginx.service
Wants=nginx.service

[Service]
ExecStart=/usr/bin/env gunicorn -c web/gunicorn.conf.py web.main:app
WorkingDirectory=/opt/quads/
Restart=always
StartLimitInterval=60
StartLimitBurst=10
Environment="PYTHONPATH=$PYTHONPATH:/opt/quads/"

[Install]
WantedBy=multi-user.target
