{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en" {% endblock %}
{% import "bootstrap/fixes.html" as fixes %}

    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    {% endblock %}

    {% block scripts %}
    {{ super() }}
    <script
        src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
        integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
        crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}
