<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quads available Hosts</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
    $(function() {
      $( ".dtpick" ).datepicker();
    });
    </script>
</head>
<body>
<h2>Quads available Hosts</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method="post">
  {{ render_field(form.model) }}
  <br/>
  Start: {{ form.start(class="dtpick") }}
  <br/>
  End:   {{ form.end(class="dtpick") }}
  <br/>
  <input type="submit" value="Search">
</form>
</body>
</html>
