<style>
    .dropdown:hover .dropdown-menu {
      display: block;
    }
</style>
<li class="nav-item dropdown">
    <a class="nav-link {{ tickets or "" }}"
       data-bs-toggle="dropdown"
       aria-expanded="false" href="#"
       id="ticketsDropdown"
       data-bs-offset="10,30"
    >Tickets</a>
    <ul class="dropdown-menu" aria-labelledby="ticketsDropdown">
        <li><a class="dropdown-item" target="_blank" href="https://issues.redhat.com/secure/Dashboard.jspa?selectPageId=12346815">Scale Lab JIRA Dashboard</a></li>
        <li><a class="dropdown-item" target="_blank" href="https://issues.redhat.com/secure/RapidBoard.jspa?rapidView=11340&#038;useStoredSettings=true">Scale Lab Requests JIRA Kanban</a></li>
        <li><a class="dropdown-item" target="_blank" href="https://issues.redhat.com/browse/SCALELAB">Scale Lab Requests JIRA Queue</a></li>
    </ul>
</li>
